<div class="seccion-seis">
    <div class="contenido">
        <div class="izquierda">
            <p class="textoUno">EDIFICIOS CERCA DE TU UBICACIÓN</p>
            <h1>7 Ubicaciones en Bogotá</h1>
            <p class="textoDos">Ver todas las opciones en Bogotá</p>
        </div>
        <div class="derecha">
            <div class="tarjeta">
                <img src="../../../../assets/slider-dos/uno.jpg">
                <p class="direccion">Carrera 11B #99 - 25</p>
                <p class="ciudad">Bogotá</p>
            </div>   
            <div class="tarjeta">
                <img src="../../../../assets/slider-dos/dos.jpg">
                <p class="direccion">Calle 81 #11-08</p>
                <p class="ciudad">Bogotá</p>
            </div>  
            <div class="tarjeta">
                <img src="../../../../assets/slider-dos/tres.jpg">
                <p class="direccion">Carrera 7 #116 -50</p>
                <p class="ciudad">Bogotá</p>
            </div>  
        </div>
    </div>
</div>
