<div class="foother">
    <div class="superior">
        <div>
            <p class="titulo">EMPRESA</p>
            <p>ubicaciones alrededor del mundo</p>
            <p>Misión</p>
            <p>Inclusión y diversidad</p>
            <p>Inversores</p>
            <p>Sala de redacción</p>
            <p>blog</p>
        </div>
        <div>
            <p class="titulo">COLABORACIONES</p>
            <p>Brockers</p>
            <p>Propietarios</p>
            <p>Recomiéndanos a alguien</p>
            <p>Planificadores de eventos</p>
        </div>
        <div>
            <p class="titulo">SOPORTE</p>
            <p>Contacto</p>
            <p>Inicio de sesión para miembros</p>
            <p>Preguntas frecuentes</p>
            <p>Respuesta ante la COVID-19</p>
        </div>
    </div>
    <select name="">
        <option value="Español">Español (Latino América)</option>
        <option value="Ingles">Ingles</option>
    </select>
    <div class="inferior">
        <div class="izquierda">
            <p>Todas las ubicaciones</p>

            <p style="padding-top: 20px;">+5715087567</p>
            <p style="color: black;">WeWork Companies LLC 12 East 49th Street Floor 3 New York, NY 10017</p>
        </div>
        <div class="derecha">
            <p>Privacidad</p>
            <p>Términos</p>
            <p>Política de cookies</p>
            <p>Cookies Settings</p>
            <p>Accesibilidad</p>
            <p>Mapa del sitio</p>
        </div>
    </div>
</div>