<div class="seccion-uno">
    <div class="izquierda">
        <h1>Para todas tus formas de trabajo, estamos aquí</h1>
        <p>Encuentra una ubicación cerca de ti. Explora las membresías y las oficinas listas para mudarse para particulares o empresas de todos los tamaños.</p>
        <select name="">
            <option value="">Bogotá</option>
            <option value="">Medellín</option>
            <option value="">Cartagena</option>
            <option value="">Cali</option>
            <option value="">Villavicencio</option>
        </select>
        <button>Comenzar</button>
    </div>
    <div class="derecha">
        <app-slider></app-slider>
    </div>
</div>
