<div class="seccion-nueve">
    <div class="noticia">
        <img src="../../../../assets/seccion-nueve/uno.jpg">
        <h1>Un espacio de trabajo de vanguardia cerca de Washington, D. C.</h1>
        <p>WeWork The Wilson está diseñado a medida para su comunidad local</p>
    </div>
    <div class="noticia">
        <img src="../../../../assets/seccion-nueve/dos.jpg">
        <h1>Un espacio de trabajo de vanguardia cerca de Washington, D. C.</h1>
        <p>WeWork The Wilson está diseñado a medida para su comunidad local</p>
    </div>
    <div class="noticia">
        <img src="../../../../assets/seccion-nueve/tres.jpg">
        <h1>Un espacio de trabajo de vanguardia cerca de Washington, D. C.</h1>
        <p>WeWork The Wilson está diseñado a medida para su comunidad local</p>
    </div>
</div>