.contenido{
    width: 94%;
    height: 170px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0px 25px 0 0;
    display: flex;
}
.contenido img{
    width: 100px;
    height: 100px;
    margin: 19px 15px;
}
.contenido .titulo{
    letter-spacing: 1px;
    line-height: 26px;
    margin-bottom: -5px;
}
.contenido .texto{
    padding-right: 14px;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 15px;
    color: #555;
}
.contenido .cantidad{
    font-size: 12px;
    letter-spacing: 1px;
    padding: 5px 15px;
    margin: 0;
    border-radius: 5px;
    border: 1px solid #999;
}