<app-barra-menu></app-barra-menu>
<div class="contenido">
    <app-seccion-uno></app-seccion-uno>
    <app-seccion-dos></app-seccion-dos>
    <app-seccion-tres></app-seccion-tres>
    <app-seccion-cuatro></app-seccion-cuatro>
    <app-seccion-cinco></app-seccion-cinco>
</div>
<app-seccion-seis></app-seccion-seis>
<div class="contenido">
    <app-seccion-siete></app-seccion-siete>
    <app-seccion-ocho></app-seccion-ocho>
    <div class="line"></div>
    <app-seccion-nueve></app-seccion-nueve>
</div>

<app-foother></app-foother>

<p class="feedback">Feedback</p>
<img src="../../assets/wts.PNG">
