<div class="seccion-cuatro">
    <div class="izquierda">
        <h1>Soluciones para empresas de todos los tamaños</h1>
        <div class="subtitulos"><p>Para particulares/equipos pequeños</p><p>Para empresas medianas/grandes</p></div>
        <p>Membresías flexibles y oficinas llave en mano que se adaptan a todos los presupuestos y estrategias híbridas. Encuentra espacio para concentrarte y colaborar en cientos de ubicaciones cerca de tu casa o en diferentes partes del mundo.</p>
        <p class="mas-inf">Más información</p>
    </div>
    <img src="../../../../assets/seccion-cuatro.jpg">
</div>