<div class="seccion-siete">
    <h1>Empoderamos al mundo del mañana en el trabajo</h1>
    <p>Durante más de una década, hemos liderado el futuro del trabajo flexible. Desde trabajadores independientes hasta empresas Fortune 500, estamos ayudando a nuestros miembros a reimaginar la forma en que trabajan.</p>
    <div class="imagenes">
        <img src="../../../../assets/seccion-siete/uno.PNG" alt="">
        <img src="../../../../assets/seccion-siete/dos.PNG" alt="">
        <img src="../../../../assets/seccion-siete/tres.PNG" alt="">
        <img src="../../../../assets/seccion-siete/cuatro.PNG" alt="">
        <img src="../../../../assets/seccion-siete/cinco.PNG" alt="">
        <img src="../../../../assets/seccion-siete/seis.PNG" alt="">
    </div>
</div>