<div class="seccion-tres">
    <img src="../../../../assets/seccion-tres.jpg">
    <div class="derecha">
        <span class="precio">Precio Inicial</span>
        <h1>Obtén un 25 % de descuento en el plan WeWork All Access Plus con esta oferta especial</h1>
        <p>Accede a espacios de trabajo cerca de ti con un descuento del 25 % en la cuota del plan de membresía mensual Plus de WeWork All Access durante 5 meses. Se aplican términos y condiciones.</p>
        <p class="mas-inf">Obtén más información</p>
    </div>
</div>